  
.ArtistView {

    .listItem {
      img{
        height: '100px';
      }
      
      li {
        text-decoration: 'none';
        list-style: 'none' 
      }
    }
  }

button {
  background-color: #A53F2B;
  color: #F0FFCE;
  border-radius: 5px;
  padding: 1%;
  margin-top:2%;
  margin: 1%;
}