
div {
  width: auto;
}

li {
  text-decoration: none;
  list-style: none; 
}

li:hover {
  text-decoration: underline;
}


button {
  background-color: #A53F2B;
  color: #F0FFCE;
  border-radius: 5px;
  padding: 1%;
  margin-top:2%;
  margin: 1%;
}

h3 {
  color: #rgb(63,61,85);
 

 width: auto;
  margin: 2% 45% 2% 5%;
  font: Roboto;
  text-align: center;
}